<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}"><h1 class="title is-4">{{ .Site.Title }}</h1></a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          {{ range (where .Site.Pages "Params.type" "top") }}
          <a class="level-item" href="{{ .Permalink }}">
            <h2 class="is-4">{{ .Title }}</h2>
          </a>
          {{ end }}
        </nav>
      </div>
    </nav>
  </div>
</section>
